<% provide(:title, @client.name) %>
<div class = "row">
	<aside class = "span4">
 			<h1><%= @client.name %></h1>
 		<h3><%= link_to "New Campaign", new_client_campaign_path(@client.id) %></h3>
 		<section>
		  <h3><%= link_to "Gift", client_donations_path(@client.id, format: "html") %></h3>
			<p><%= link_to "Download CSV", client_donations_path(@client.id, format: "csv") %></p>
		  <%= form_tag import_client_donations_path(@client.id), multipart: true do %>
  			<%= file_field_tag :file %>
  			<%= submit_tag "Import Gifts", class: "btn btn-large btn-primary" %>
 		  <% end %>
 		</section>
 	</aside>
 	<div class="span8">
 			<h3>Campaigns</h3>
			<p><%= link_to "Inactive Campaigns", '#' %></p>
			<%= render 'campaigns/campaigns_summary' %>
 	</div>
</div>
