<% provide(:title, 'All Appeals') %>
<h1>All Appeals Mailed</h1>


<h2> <%= @campaign.name %> mailed on <%= @campaign.drop_date %></h2>

<table class="table table-striped table-bordered" id="appeals">
  <thead>
	<tr>
		<th>Client Donor ID</th>
		<th>Ask 1</th>
		<th>Ask 2</th>
		<th>Ask 3</th>
		<th>Tier</th>
		<th>Tier Code</th>
		<th>Scanline</th>
		<th>Mail Code</th>
		<th>Mail Type</th>
	</tr>
  </thead>
  <tbody>
	<% @appeals.each do |appeal| %>
	  <tr>
		<td><%= appeal.client_file_id %></td>
		<td><%= appeal.ask1 %></td>
		<td><%= appeal.ask2 %></td>
		<td><%= appeal.ask3 %></td>
		<td><%= appeal.tier %></td>
		<td><%= appeal.tiercode %></td>
		<td><%= appeal.scanline %></td>
		<td><%= appeal.mailcode %></td>
		<td><%= appeal.mailtype %></td>
	  </tr>
	 <% end %>
  </tbody>
</table>
